.table-works{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0;
    th {
        padding: 10px;
        background: $green;
        color: #fff;
        border: 1px solid #ccc;
        font-family: 'Robobto-Bold', sans-serif;
    }
    td {
        border: 1px solid #ccc;
        padding: 5px;
    }
}

