.works{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}
.upload-icon{
    width: 30px;
    height: 30px;
    background: svg('~img/img-icon.svg', $green);
    background-size: 100%;
}
.upload {
    display: inline-flex;
    align-items: center;  
    cursor: pointer;
}
  
.upload__text {
    color: rgba($green, 0.7);
    margin-top: -8px;
    margin-left: 12px;
}
form{
    display: flex;
    flex-direction: column;  
}
.button{
    align-self: flex-start;
}
.input{
    margin-bottom: 20px;
    max-width: 300px;
}
.input-file{
    position: absolute;
    visibility: hidden;
    height: 0;
}
.error-message{
    margin-top: 10px;
}