.about{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.skills-list{
    width: 40%;
    margin-right: 10%;
    margin-bottom: 50px;
}
.buttons-add-group{
   width: 100%;
}
.add-name-title{
    width: 20%;
}
.add-name-input{
    width: 80%;
}
.input-skill-type-name, .add-group-btn{
    width: 100%;
}
