header{
    background:  $green;
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: #fff;
    font-size: 28px;
    font-family: "Roboto-Medium";
}
.logout{
    color: rgba(#fff, .7);
    font-size: 16px;
}