.blog{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}
.form, form{
    display: flex;
    flex-direction: column;    
}
.button{
    align-self: flex-start;
}
.input{
    margin-bottom: 20px;
    max-width: 300px;
}
.textarea{
    resize: none;
    height: 165px;
    max-width: 500px;
}